h1 {
    text-align: center;
}

.acc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    width: 80%;
    text-align: left;
    padding: 1% 0% 0% 2%;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius: 100px;
    margin-bottom: 1%;
    font-size: 1.5rem;
}


.one,
.three {
    background: #12001b;
    color: white;
}

.two {
    background: #34153a;
    color: white;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    width: 77%;
}

.accordion:after {
    content: '\0025B8';
    font-size: 30px;
    color: #777;
    float: right;
    margin-left: 5px;
    transform: rotate(90deg);
    transition: all 0.3s;
    margin-right: 2%;
    color: white;
}

.active:after {
    transform: rotate(270deg);
    transition: all 0.5s;

}