* {
    box-sizing: border-box;
    margin: 0;
}
body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.carre {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 78%;
    margin-top: 10%;
}
.carre:hover {
    opacity: 0.7;
    background-color: gray;
}


.img {
    background-image: url(piqsels.com-id-zqzwa.jpg);
    background-size: 100%;
    width: 500px;
    height: 320px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
h1 {
   text-align: center;
    background: #1f5e67;
    width: 13%;
    height: 16%;
    color: white;
    margin-bottom: 15%;
    margin-right: 5%;
    border-radius: 50%;
    display: flex;
    justify-content:center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s;
    transition: ease-in-out 0.5s;

}
h2 {
    padding-bottom: 10%;
}

/* h1:hover:after {
    content: "-";
     background: #1f5e67;
     width: 50%;
     height: 100%;
     color: white;
     margin-bottom: 15%;
     margin-right: 5%;
     border-radius: 50%;
     display: flex;
     justify-content:center;
     align-items: center;
     cursor: pointer;
     transform: translateY(-100px);
 } */
 p {
    display: none;
    transition: all 0.5s;
    transition: ease-in-out 0.5s;


 }
h1:hover p {
    display: block;
    position: absolute;
    background: #1f5e67;
    transform: translateY(-60px);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding-top: 1.5%;
    transition: all 0.5s;
    transition: ease-in-out 0.5s;
}



.lienh .lienp {
    display: none;
    width: 300px;
}

.lienh:hover .lienp {
    display: block;
    position: absolute;
    background: #209da8;
    border-radius: 20px;
    padding: 2%;

}