.heart {
    height: 100px;
    width: 100px;
    background: red;
    transform: rotate(45deg);
    margin-top: 20%;
    margin-left: 20%;
}

.heart::before {
    content: "";
    width: 100px;
    height: 100px;
    background: red;
    position: absolute;
    border-radius: 50%;
    transform: translateY(-60px);
}    

.heart::after {
    content: "";
    width: 100px;
    height: 100px;
    background: red;
    position: absolute;
    border-radius: 50%;
    transform: translateX(-60px);
}    

.button {
    color: white;
    background: black;
    padding: 5% 5%;
    border-radius: 10px;
    margin-left: 60%;
}
.button:hover {
    padding: 10% 10%;
    border-radius: 10px;
    transform: scale(2);
    transition: transform 1000ms ease-in-out;
}
@keyframes boutton{
    0% {
        transform: scale(1) rotate(45deg);
        ;
    }
    50% {
        transform: scale(2) rotate(45deg);
    }
    100% {
        transform: scale(1) rotate(45deg);
    }
}
#heart.boutton {
        animation-name: boutton;
        animation-duration: 1s;
        animation-iteration-count: infinite;

}