.heart {
    height: 100px;
    width: 100px;
    background: red;
    margin-top: 40%;
    margin-left: 50%;
}
#heart.boutton {
    animation-name: boutton;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    /* animation-direction : alternate; */
}

@keyframes boutton{
    0% {
        transform: rotate(0deg) translateY(0px) translateX(0px);
    }
    /* 25% {
        transform:rotate(45deg)translateY(-200px) translateX(-100px);

    } */
    50% {
        transform:rotate(-90deg)translateY(-300px) translateX(200px);
    }
    /* 75% {
        transform:rotate(45deg)translateY(-200px) translateX(-200px);
    } */
    100% {
        transform: rotate(0deg)translateY(0px) translateX(400px);
    }
}
/* @keyframes boutton{
    0% {
        transform: rotate(0deg) translateY(-100px) translateX(-50px);
    }
    25% {
        transform:rotate(45deg)translateY(-200px) translateX(-100px);

    }
    50% {
        transform:rotate(90deg)translateY(-300px) translateX(-150px);
    }
    75% {
        transform:rotate(45deg)translateY(-200px) translateX(-200px);
    }
    100% {
        transform: rotate(0deg)translateY(-100px) translateX(-250px);
    }
} */
/* @keyframes boutton{
    0% {
        transform: rotate(0deg) translateY(100px) translateX(30px);
    }
    25% {
        transform:rotate(45deg)translateY(200px) translateX(60px);

    }
    50% {
        transform:rotate(90deg)translateY(300px) translateX(90px);
    }
    75% {
        transform:rotate(45deg)translateY(200px) translateX(60px);
    }
    100% {
        transform: rotate(0deg)translateY(100px) translateX(30px);
    }
} */