.pose {
    margin-top: 30%;
}

.checkbox {
    display: none;
}

.label {
    display: inline-block;
    ;
    background: #438382;
    border-radius: 70px;
    position: relative;
    height: 120px;
    width: 300px;
    transition: all 0.3s;
}

.label:after {
    content: "";
    height: 80px;
    width: 80px;
    background: white;
    position: absolute;
    top: 20px;
    left: 20px;
    transition: all 0.3s;
    border-radius: 50%;
}

.checkbox:active+.label:after {
    width: 120px;
    transition: all 0.3s;
    border-radius: 100px;

}

.checkbox:checked:active+.label:after {
    transform: translateX(137px)
}

.checkbox:checked+.label:after {
    transform: translateX(175px);
}

.checkbox:checked+label {
    background: #85b662;
}

/* .green {
    height: 90px;
    width: 90px;
    background: green;
    position: relative;
    border-radius: 50%;
    margin-right: 270px;

}

.green:active {
    transform: translateX(20px);
    transition: ease-in-out;
    background: white;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
} */